@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto:wght@400;700&family=Staatliches&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: darksalmon;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

div {
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

input {
  width: 50px;
  font-size: 18px;
  padding: 5px;
  text-align: center;
  border: none;
  background-color: darksalmon;
}

input:focus {
  outline: none;
}
